<h1><div class="p-3 mb-2 bg-info text-white">Un Gossip ? Contactez moi ...</div></h1>
    <p></p>
<center>
    <img src= "https://image.noelshack.com/fichiers/2019/44/2/1572306565-56258253-surpris-jeune-femme-sexy-en-criant-hurlant-sur-rtro-telephone-advertising-poster-comic-woman-gossip-f-convertimage.jpg
    "  alt ="Contact"/>
    <p></p>
    <p>Contactez : Mack 0678968578 </p>
<center>
